---
export const prerender = false;
import ContactForm from "../components/ContactForm.astro";
import QuickContact from "../components/QuickContact.astro";
import Layout from "../layouts/Layout.astro";
import { getCurrentLang, getCurrentTranslations } from "../utils";

const currentLang = getCurrentLang(Astro.url.host);
const i18nData = await getCurrentTranslations(currentLang);
---

<Layout
  title="Contact - Nearup"
  description="Contact us for your digital transformation needs"
  type="black"
>
  <QuickContact
    title={i18nData.contact.title}
    mainTitle={i18nData.contact.mainTitle}
    description={i18nData.contact.description}
    email={i18nData.contact.email}
    phone={i18nData.contact.phone}
    office={i18nData.contact.office}
  />

  <ContactForm
    title={i18nData.contact.form.title}
    submitText={i18nData.contact.form.submit}
    fullNameLabel={i18nData.contact.form.fullName}
    emailLabel={i18nData.contact.form.email}
    companyLabel={i18nData.contact.form.company}
    phoneLabel={i18nData.contact.form.phone}
    messageLabel={i18nData.contact.form.message}
    thankYou={i18nData.contact.form.thankYou}
    error={i18nData.contact.form.error}
  />
  <div class="h-[100px]"></div>
</Layout>
